.navButtons{
    position: relative;
    right: 28%;
}

.navBg{
    background-color: #BAB2B5;
    height: 4vh;
}

.mainNav{
    
    background-color: #EDC7B7;
    height: 4vh;
}
.textColor{
    color: #AC3B61;
    position: relative;
    bottom: 20%;
}

.scLogo{
    height: 3vh;
    left: 0vw;
    
}

.ytLogo{
    height: 2vh;
}

.instaLogo{
    height: 2vh;
}

.beatLogo{
    height: 2vh;
}
.appleMusicLogo{
    height: 2.7vh;
}

.faceBookLogo{
    height: 2.2vh;
}

#constructionText{
    position: absolute;
    bottom: 0%;
}
