body {
    background-color: rgb(170, 142, 150);
}

ul{
    list-style: none;
}
#linkList{
    display: flex;
}

#ytLogo{
    width: 20px;
    
}


#instaLogo{
    width: 20px;
    
}
#soundCloudLogo{
    width: 20px;
    
}
#facebookLogo{
    width: 20px;
    
}
#beatStarsLogo{
    width: 20px;
    
}

li{
    background-color: wheat;
    color: white;
    padding: 10px 10px 10px 10px;
    text-align: center;
    width: 200px;
    margin: 10px;
    border-radius: 7%;
      
}
a{
    text-decoration: none;
    color: rgb(99, 95, 95);
    margin-left: 5px;
}

#footerId{

    
    
 position: absolute;
   
    bottom: 0vh;
    display: inline;
    text-align: center;
   
    
   
    
}

#mainDiv{
    
    position: relative;
    display:flex;
    height: 51.23vh;
    text-align: center;
    justify-content: center;


    
    
}


p {
font-weight: bold;
}

#linkDiv{
    position: relative;
    

    
    
}

#imgBox{
    position: relative;
    
    width: 38.5vh;
    height: 50vh;
    height: 60vh;

    
   
    

   
}

.trackArt{
    position: relative;
    top: 0vh;
    width: 300px;    
    height: auto;
    border: 2px solid black;
    
}

#trackInfo{
    position: relative;
    
    
}

.photoButton{

    position: relative;
    margin: 0.2vw;
    background-color: rgb(170, 142, 150);
    
    left: 4.8vw;
    

}
#buttonDiv{
    position: relative;
    
    width: 16.4vw;
    left: 2vw;
   top: -4.7vh;
    
   
    
    
}

.trackName {
    position: relative;
    top: -4vh;
    
}