body {
    background-color: rgb(170, 142, 150);
}

ul{
    list-style: none;
}

#ytLogo{
    width: 20px;
}

#instaLogo{
    width: 20px;
}
#soundCloudLogo{
    width: 20px;
}
#facebookLogo{
    width: 20px;
}
#beatStarsLogo{
    width: 20px;
}