body {
    background-color: rgb(170, 142, 150);
}

ul{
    list-style: none;
}
#linkList{
    display: flex;
}

#ytLogo{
    width: 20px;
    
}


#instaLogo{
    width: 20px;
    
}
#soundCloudLogo{
    width: 20px;
    
}
#facebookLogo{
    width: 20px;
    
}
#beatStarsLogo{
    width: 20px;
    
}

li{
    position: relative;
    background-color: wheat;
    color: white;
    padding: 10px 10px 10px 10px;
    text-align: center;
    width: 20%;
    margin: 10px;
    border-radius: 45%;
      
}
a{
    text-decoration: none;
    color: rgb(99, 95, 95);
    margin-left: 5px;
}

#footerId{

    
    
 position: absolute;
    bottom: 0vh;
    width: 90%;
    margin: auto;
    display: inline;
    text-align: center;
   
    
   
    
}

#mainDiv{
    
    position: relative;
    display:flex;
    height: 51.23vh;
    width: 50vw;
    margin: auto;
    text-align: center;
    justify-content: center;
   


    
    
}


p {
font-weight: bold;
}

#linkDiv{
    position: relative;
    

    
    
}

#imgBox{
    position: relative;
    width: 40%;
    margin: auto;
  
    

    
   
    

   
}

.trackArt{
    position: relative;
    top: 0vh;
    width: 80%;   
    height: auto;
    border: 2px solid black;
    
}

#trackInfo{
    position: relative;
    
    
}

.photoButton{

    position: relative;
    margin: 0.2vw;
    background-color: rgb(170, 142, 150);
    width: 8%;
    height: 8%;
    
    left: 15%;
    

}
#buttonDiv{
    position: relative;
    
    width: 100%;
   top: -5vh;

    
   
    
    
}

.trackName {
    position: relative;
    top: -4vh;
    
}